boto3==1.24.59
jupyter==1.0.0
ipywidgets==8.0.4
numpy==1.24.2
pandas==1.5.3
s3fs==2023.1.0
scikit-learn==1.2.1
sentence-transformers==2.2.2
tqdm==4.64.1
nltk==3.8.1
awscli==1.25.60
openpyxl==3.1.2
xlrd==2.0.1